@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../../images/mobile/image-hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 2.5rem 0rem;
}
@media screen and (min-width: 768px) {
  .header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../../images/desktop/image-hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}
.header .container .nav {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.header .container .nav .logo {
  z-index: 1002;
  height: 100%;
}
.header .container .nav .logo img {
  width: 150px;
  height: 100%;
}
.header .container .nav .toggle {
  z-index: 1001;
  cursor: pointer;
  height: 100%;
  width: 30px;
}
.header .container .nav .toggle .icon1 {
  background: url(../../images/icon-hamburger.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.header .container .nav .toggle .icon2 {
  background: url(../../images/icon-close.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .header .container .nav .toggle {
    display: none;
  }
}
.header .container .nav .nav-menu {
  position: fixed;
  background-color: #000;
  height: 100%;
  top: -100rem;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header .container .nav .nav-menu {
    position: relative;
    background-color: transparent;
    top: inherit;
    display: flex;
    align-items: center;
  }
}
.header .container .nav .nav-menu__ul {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header .container .nav .nav-menu__ul {
    display: flex;
    align-items: center;
    top: 0rem;
    margin: 0;
  }
}
.header .container .nav .nav-menu__ul .item {
  margin: 0.8rem 0rem;
}
@media screen and (min-width: 768px) {
  .header .container .nav .nav-menu__ul .item {
    margin: 0rem;
  }
}
.header .container .nav .nav-menu__ul .item__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: dimgray;
  font-size: 1.5rem;
  font-weight: 600;
}
.header .container .nav .nav-menu__ul .item__link:hover, .header .container .nav .nav-menu__ul .item__link:active {
  color: white;
}
.header .container .nav .nav-menu__ul .item__link:hover::after, .header .container .nav .nav-menu__ul .item__link:active::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 40px;
  height: 2px;
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .header .container .nav .nav-menu__ul .item__link {
    text-transform: capitalize;
    font-size: 1rem;
    color: white;
  }
}
.header .container .nav .show {
  top: 0;
}
.header .container .nav .overflow-hidden {
  overflow: hidden;
}
.header .hero-content {
  border: 1px solid white;
  padding: 1.5rem;
  margin: 9rem 0rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header .hero-content {
    margin: 5rem 0rem;
    padding: 3rem;
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .header .hero-content {
    padding: 2rem 4rem;
    width: 50%;
    margin: 8rem 0rem 6rem;
  }
}
.header .hero-content__title {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 0.9;
}
@media screen and (min-width: 992px) {
  .header .hero-content__title {
    font-size: 4.5rem;
  }
}

.main {
  padding: 5rem 0rem;
}
.main .container {
  padding: 0;
}
.main .container .about {
  position: relative;
}
@media screen and (min-width: 768px) {
  .main .container .about img {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .main .container .about {
    padding-bottom: 7rem;
  }
  .main .container .about img {
    width: auto;
  }
}
.main .container .about .text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main .container .about .text {
    padding: 0rem 5rem;
  }
}
@media screen and (min-width: 992px) {
  .main .container .about .text {
    position: absolute;
    text-align: left;
    top: 35%;
    right: 0;
    background-color: white;
    padding-top: 4rem;
    padding-right: 0;
    padding-bottom: 2rem;
    padding-left: 7rem;
    width: 55%;
  }
}
.main .container .about .text__title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 1;
  margin-top: 4rem;
}
.main .container .about .text__details {
  font-family: "Alata", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 1rem;
  color: dimgray;
}
.main .container .creation .container {
  position: relative;
  padding: 6rem 0rem;
  text-align: center;
}
.main .container .creation .container .creation-header {
  z-index: 1;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .main .container .creation .container .creation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
.main .container .creation .container .creation-header h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.015rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .main .container .creation .container .creation-header h2 {
    margin-bottom: 0rem;
  }
}
.main .container .creation .container .creation-header .see-all {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 0.5rem 2rem;
  letter-spacing: 0.257rem;
  font-family: "Alata", sans-serif;
  transition: 0.4s ease;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
}
.main .container .creation .container .creation-header .see-all:hover {
  background-color: #000;
  color: white;
}
@media screen and (min-width: 768px) {
  .main .container .creation .container .creation-header .see-all {
    padding: 0.3rem 2rem;
    position: relative;
    bottom: inherit;
    left: inherit;
    transform: inherit;
  }
}
.main .container .creation .container .creation-content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .main .container .creation .container .creation-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.main .container .creation .container .creation-content__item {
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 768px) {
  .main .container .creation .container .creation-content__item .images {
    width: 100%;
  }
}
.main .container .creation .container .creation-content__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(9deg, #030303 7%, rgba(38, 38, 41, 0) 64%);
}
.main .container .creation .container .creation-content__item .text {
  position: absolute;
  color: white;
  bottom: 1.5rem;
  left: 1.5rem;
  text-align: left;
  line-height: 1;
  z-index: 2;
}
.main .container .creation .container .creation-content__item .text p {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.733rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main .container .creation .container .creation-content__item .text p {
    font-size: 1.4rem;
  }
}
.main .container .creation .container .creation-content__item:hover::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.main .container .creation .container .creation-content__item:hover .text {
  color: #000;
}

.footer {
  background-color: #000;
}
.footer .container {
  padding: 3rem 0rem 5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    padding: 3rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo social" "menulink copyright";
  }
}
.footer .container .logo {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer .container .logo {
    grid-area: logo;
    text-align: left;
    padding-bottom: 0;
  }
}
.footer .container .nav-menu,
.footer .container .social-media {
  padding: 0;
}
.footer .container .nav-menu li a,
.footer .container .social-media li a {
  color: white;
}
.footer .container .nav-menu {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer .container .nav-menu {
    margin-bottom: 0rem;
    grid-area: menulink;
    display: flex;
  }
}
.footer .container .nav-menu li {
  padding-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .footer .container .nav-menu li {
    padding-bottom: 0rem;
    padding-right: 1rem;
  }
}
.footer .container .nav-menu li a {
  position: relative;
}
.footer .container .nav-menu li a:hover::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 2em;
  height: 1px;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
}
.footer .container .social-media {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer .container .social-media {
    grid-area: social;
    justify-content: end;
  }
}
.footer .container .social-media li {
  padding: 0rem 0.7rem;
}
.footer .container .social-media li a {
  position: relative;
}
.footer .container .social-media li a:hover::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 0.8em;
  height: 1px;
  bottom: -0.3rem;
}
.footer .container .copyright {
  color: #8c8c8c;
}
@media screen and (min-width: 768px) {
  .footer .container .copyright {
    grid-area: copyright;
    margin: 0;
    text-align: right;
  }
}
