$font-Alata: 'Alata', sans-serif;
$font-Josefin: 'Josefin Sans', sans-serif;
$font-size-15px: 15px;

// COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
$black: #000;
